{% extends "base.html" %}

{% block title %}Authentication{% endblock %}

{% block content %}

    <!-- ======= Authentication ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Authentication</h1>
        {% if not logged_in %}
          <a href="{{ url_for('login') }}" class="btn-login">Login</a>
          <a href="{{ url_for('register') }}" class="btn-register">Register</a>
        {% endif %}
    </div>

  </section><!-- End -->

{% endblock %}