{% extends "base.html" %}

{% block title %}Resume{% endblock %}

{% block header %}
  <nav id="navbar" class="navbar order-last order-lg-0">
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('about') }}">About</a></li>
      <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
      <li><a class="active" href="{{ url_for('resume') }}">Resume</a></li>
      <li><a href="{{ url_for('contact') }}">Contact</a></li>

{#      {% if not logged_in %}#}
{#        <li><a href="{{ url_for('login') }}">Login</a></li>#}
{#        <li><a href="{{ url_for('register') }}">Register</a></li>#}
{#      {% else %}#}
{#        <li><a href="{{ url_for('logout') }}">Log Out</a></li>#}
{#      {% endif %}#}
      {% if logged_in %}
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
      {% endif %}

    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav><!-- .navbar -->

{% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">

      <a href="{{ url_for('download') }}" class="btn-download">Download Resume</a>

      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Dima Boika</h4>
              <p><em>I'm an organized and highly motivated Python Developer seeking an entry-level position to improve
                and use my skills in development, learn new technologies and contribute to the Company. I’ll do my best
                to be useful talent of the company. Good team-player, open to adapt changes.</em></p>
              <p>
              <ul>
                <li>Minsk, Belarus</li>
                <li>+375 29 101 4 101</li>
                <li>dzmitryboika1@gmail.com</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">My Expertise</h3>
            <div class="resume-item">
              <h4>Hard Skills</h4>
              <p>
              <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>HTML/CSS, Bootstrap</li>
                <li>RESTful API, Postman</li>
                <li>SQL</li>
                <li>Git</li>
              </ul>
              </p>
              <h4>Soft Skills</h4>
              <p>
              <ul>
                <li>Excellent Communication Skills</li>
                <li>Team Player</li>
                <li>Time-management</li>
                <li>Stress resistance</li>
                <li>Well-balanced</li>
              </ul>
              </p>
              <h4>Languages</h4>
              <p>
              <ul>
                <li>English B2 (Upper-Intermediate)</li>
                <li>Russian (Native)</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Self-education</h4>
              <h5>March 2022 - Present</h5>
              <p><em>Self-taught with Udemy and Stepik courses, books, tutorials and other sources</em></p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Business Management</h4>
              <h5>2010 - 2014</h5>
              <p><em>Belarus State Economic University, Minsk</em></p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Computer-Aided Design</h4>
              <h5>2015 - 2016</h5>
              <p><em>Belarussian State University of Informatics and Radioelectrononics, Minsk</em></p>
            </div>
          </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Python Developer</h4>
              <h5>2022 - Present</h5>
              <p><em>Freelance</em></p>
              <p>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Sales Specialist</h4>
              <h5>2017 - 2018</h5>
              <p><em>Stepping Stone Advertising, New York, NY</em></p>
              <p>
              <ul>
                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and
                  advertisements).
                </li>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

{% endblock %}